body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:120px;
    background-color: black;
    color:white;
    
}
h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

input{
    height: 25px;
}

button{
    background-color: darkcyan;
    border-radius: 10px;
    color:white;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:darkcyan;
}

section{
    margin:auto;
    text-align: center;
    width: 30%;
    
}

ul{
    list-style-type: none;
    display:none;
}

li{
    text-align: left;
    padding:10px;
    font-size: 20px;
    background-color: darkcyan;
    margin:5px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:whitesmoke;
}

li:hover{
    color:black;
}
#highscores-container ul li{
    text-align: center;
}

.class{
    width:30%
}
input{
    display:none;
}

#submit{
    display:none;
}