body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:120px;
}

section{
    margin:auto;
    text-align: center;
    width: 30%;
    
}

ul{
    list-style-type: none;
    display:none;
}

.class{
    width:30%
}
input{
    display:none;
}

#submit{
    display:none;
}